section {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 40px;
    overflow-x: hidden;
}

.content {
    width: 100vw;
}

.map {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
}

.map .title {
    margin-bottom: 20px;
}

.map .icon {
    width: 129.59px;
    height: 129.59px;
    
    background-size: cover;

    margin-bottom: 20px;
}


.map.mondstat .icon{
    background-image: url("/assets/image/mondstat-icon.png");
}
.map.liyue .icon{
    background-image: url("/assets/image/liyue-icon.png");
}
.map.inazuma .icon{
    background-image: url("/assets/image/inazuma-icon.png");
}
.map.sumeru .icon{
    background-image: url("/assets/image/sumeru-icon.png");
}

.map .title h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    margin-left: 10px;
}

.map .title .arrow:nth-child(3) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.map .title .arrow {
    width: 384px;
    height: 14.03px;
    background-image: url("/assets/image/arrow-single.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.map .title h3{
    font-style: normal;
    font-weight: 400;
    font-size: 49.68px;
    text-align: center;

    color: #FFFFFF;
}

.map p {
    width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.teyvat {
    background-image: url("/assets/image/teyvat-map.png");
}

.mondstat {
    background-image: url("/assets/image/mondstat-map.png");
}
.liyue {
    background-image: url("/assets/image/liyue-map.png");
}
.inazuma {
    background-image: url("/assets/image/inazuma-map.png");
}
.sumeru {
    background-image: url("/assets/image/sumeru-map.jpg");
}

.teyvat h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;

    color: #FFFFFF;

    margin-bottom: 27px;
}

.teyvat .arrow-bg {
    width: 512px;
    height: 18px;

    background-image: url("/assets/image/arrow-icon.png");
    background-size: cover;

    margin-bottom: 25px;
}

.teyvat p {
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;

    margin-bottom: 10px;
}

.teyvat a {
    width: 80%;
    height: 34;
    background-image: url("/assets/image/highlight-map.png");
    background-size: cover;

    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;

    color: #FFFFFF;

    text-align: center;
}


@media only screen and (max-width: 800px) {
    .teyvat .arrow-bg {
        width: 312px;
        height: 18px;
    
        background-size: contain;
        background-repeat: no-repeat;
    }

    .teyvat h3{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .teyvat p{
        font-size: 12px;
        line-height: 20px;
    }

    .teyvat .arrow-bg {
        margin-bottom: 10px;
    }

    .map .title {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map .title h3{
        font-size: 20px;
    }

    .map .icon {
        width: 80px;
        height: 80px;
    }

    .map .title .arrow {
        width: 100px;
        height: 8px;

        display: none;
    }

    .map p {
        width: 70%;
        
        font-size: 12px;
        line-height: 20px;
    }
}