.card .form-base {
    width: 50%;
    
    padding: 33px 67px;

    background-color: #ffff;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
}

.card .form-base h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #0C145A;

    margin-bottom: 10px;
}

.card .form-base .txt {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #0C145A;

    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    position: relative;
}

.form-group.error .form-input {
    border: 2px solid red;
}

.form-group.error::before {
    content: var(--error-message);
    /* content: "error"; */
    position: absolute;
    bottom: -25px;
    /* bottom: 0; */
    left: 10px;

    color: red;
    font-size: 12px;
    /* background-color: red; */
}

.form-group label {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C145A;

    margin-bottom: 10px;
}

.form-group .form-input {
    padding: 13px 0 13px 26px;
    border-radius: 100px;
    border: 1px solid #0C145A;
}

.form-group .form-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #CCD0DD;
}

.form-group .form-input:focus {
    outline: none;
}

.form-base .btn {
    width: 100%;
    padding: 12px 0 12px 0;
    display: block;
    border: none;

    border-radius: 100px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.form-base .btn.btn-regis {
    background-color: #614FCC;
    color: #ffff;
}

.form-base .btn.btn-login {
    background-color: #E7EAF5;
    color: #0C145A;
}

.form-group.tos {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-group.tos input:checked {
    border-radius: 20px;
    padding: 20px;

    width: 30px;
    height: 30px;

    background-color: #614FCC;
}

.form-group.tos input {
    border-radius: 20px;
    padding: 20px;

    width: 30px;
    height: 30px;

    
    border: 1px solid #0C145A;
}

.form-group.tos h4 {
    font-size: 14px;
    line-height: 20px;

    margin-left: 10px;
}

.form-group.tos h4 a {
    text-decoration: none;
}