/* body {
    width: 100%;
    background-image: url("/assets/image/mondstat-map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.content {
    width: 100%;
    height: 100vh; 

    background-image: url("/assets/image/Map/Mondstadt1.png");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

@keyframes bg-mond {
    50% {
        background-image: url("/assets/image/Map/Mondstadt1.png");
    }
    0%, 100% {
        background-image: url("/assets/image/Map/Mondstadt-Genshin-Impact.png");
    }
}

@keyframes bg-liyue {
    50% {
        background-image: url("/assets/image/Map/Liyue2.png");
    }
    0%, 100% {
        background-image: url("/assets/image/Map/Liyue.jpg");
    }
}

@keyframes bg-inazuma {
    50% {
        background-image: url("/assets/image/Map/Inazuma.png");
    }
    0%, 100% {
        background-image: url("/assets/image/Map/Inazuma2.jpg");
    }
}

@keyframes bg-sumeru {
    50% {
        background-image: url("/assets/image/Map/Sumeru.png");
    }
    0%, 100% {
        background-image: url("/assets/image/Map/Sumeru2.jpg");
    }
}

/* Lvel 2 */
.level2 img {
    max-width: 55%;
    max-height: 100%;
}

.line1 {
    width: 90px;
    height: 100vh;

    border-right: 1px solid #ffff;

}

.bg-right-bot {
    width: 170px;
    height: 300px;

    position: absolute;
    right: 0;
    top: 45vh;
    z-index: -1;
}

/* Level 2 */

.bg-top {
    width: 500px;
    height: 80vh;
}

/* level 3 */
.level3 h4 {
    color: transparent  ;
    font-style: normal;
    font-weight: 700;
    font-size: 7em;
    line-height: 120px;

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1em;

    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

/* level 4 */