.content {
    width: 100%;
    margin-top: 85vh;

    position: relative;
}


img.bg-main{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}

.val {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
}

footer {
    z-index: 20;
    margin-top: -10px;
}

section {
    height: unset;
}

@media only screen and (max-width: 900px) {
    .val {
        padding-top: 20%;
    }

    .content {
        margin-top: 95vh;
    }
}