.content {
    width: 100%;
    margin-top: 85vh;

    position: relative;

    z-index: 10;

    overflow: hidden;
}

#welcome {
    width: 100%;
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: end;

    position: absolute;
    z-index: 0;
    top: 0;
}

#welcome img {
    width: 60%;
}

img.bg-main{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}

.val {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
}

footer {
    z-index: 20;
    margin-top: -10px;
}

section {
    height: unset;
}

@media only screen and (max-width: 900px) {
    .val {
        padding-top: 20%;
    }

    .content {
        margin-top: 85vh;
    }
}