.details {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .logo {
    width: 20%;
}

.details .text {
    width: 100%;
}

.details .platform {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
}

.details h4 {
    margin-top: 50px;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
}