.game-videos {
    width: 100%;
}

.game-videos .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-videos .title .arrow:nth-child(3) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.game-videos .title .arrow {
    width: 384px;
    height: 14.03px;
    background-image: url("/assets/image/arrow-single.png");
    background-size: cover;
}

.game-videos .title h3{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;

    color: #FFFFFF;
    
    margin-right: 10px;
    margin-left: 10px;
}

.slide-cover {
    width: 100%;
    overflow: hidden;
}

.slide-group {
    margin-top: 50px;
    width: 500%;

    display: flex;

    transform: translateX(-10%);
    transition: transform 1s ease-in-out;

}

.slide-group .slide {
    width: 90%;
    height: 35vw;

    border: 1px solid #FFFFFF;

    background-image: url("/assets/image/video-about.gif");
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 40px;
}

.slide-indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.slide-indicator .indicator {
    width: 20px;
    height: 20px;

    background-image: url("/assets/image/star-point.webp");
    background-size: cover;

    margin-left: 10px;
}

.slide-indicator .indicator.active {
    background-image: url("/assets/image/star-point-active.webp");
}

.slide-indicator .indicator:first-child {
    margin-left: 0;
}

.slide-indicator .indicator.active {
    background-image: url("/assets/image/star-point-active.webp");
}

@media only screen and (max-width: 900px){
    .game-videos .title h3{
        font-size: 30px;
    }

    .game-videos .title .arrow {
        width: 204px;
        height: 14.03px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 500px){
    .slide-group .slide {
        margin-left: 10px;
    }

    .game-videos .title {
        margin-bottom: 10px;
    }
    
    .game-videos .title h3{
        line-height: 25px;
        font-size: 20px;
    }

    .game-videos .title .arrow {
        display: none;
    }

    .slide-cover {
        margin-top: -40px;
    }

    .slide-indicator {
        margin-top: 20px;
    }

    .slide-indicator .indicator {
        width: 15px;
        height: 15px;
    
        margin-left: 5px;
    }
}