body {
    width: 100%;
    background-image: url("https://binusianorg-my.sharepoint.com/personal/ida_chandra_binus_ac_id/Documents/JenshinImpekzAssets/about-bg-first.png?csf=1&web=1&e=QnpeJB");    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
